<div class="card card-custom">
    <div class="card-header">
    </div>
    <div class="card-body">
      <div>
          <full-calendar #calendar
                         [options]="options"
                         [events]="calendarEvents"
          >
          </full-calendar>
      </div>
    </div>
</div>

<div style="display: none;">
    <div #modal style="position: relative">
        <form  style="width: 100%;height: 200px;">
            <div class="row" style="margin-top: 20px;position: relative">
                <div class="col-md-11" style="position: relative">
                    <!--                                   <mat-form-field class="example-full-width">-->
                    <ng-select
                            placeholder="Customer Name"
                            [items]="customers"
                            bindLabel="name"
                            bindValue="id"
                            [(ngModel)]="appointment.customer"
                            id="customer"
                    >
                    </ng-select>
                    <!-- <input matInput placeholder="Customer Name" type="text" [(ngModel)]="appointment.customerName" id="customerName" formControlName="customerName"> -->
                    <!--                                   </mat-form-field>-->
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-11">
                    <!--                                  <mat-form-field class="example-full-width">-->
                    <ng-select
                            placeholder="Service Name"
                            [items]="services"
                            bindLabel="name"
                            bindValue="id"
                            clearSearchOnAdd="true"
                            [closeOnSelect]="false"
                            [(ngModel)]="appointment.service"
                            id="service"
                            (change)="onServiceChange($event)"
                            [multiple]="true"
                    >
                    </ng-select>
                    <!--                                    <input matInput placeholder="Service Name" type="text" [(ngModel)]="appointment.service" id="service" formControlName="service">-->
                    <!--                                  </mat-form-field>-->

                </div>
            </div>
        </form>
    </div>
</div>


<div style="display: none;">
    <div #modal1 style="position: relative">
        <form style="width: 100%;height: 200px;">
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-11" style="margin-left: 10px;">
                    <ng-select
                            placeholder="Service Name"
                            [items]="services"
                            bindLabel="name"
                            bindValue="id"
                            clearSearchOnAdd="true"
                            [closeOnSelect]="false"
                            [(ngModel)]="appointment1.service"
                            id="service1"
                            (change)="onServiceChange1($event)"
                            [multiple]="true"
                    >
                    </ng-select>
                </div>
            </div>
        </form>
    </div>
</div>