<div class="header bg-gradient-danger pb-2 pt-1 pt-md-3">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <h3 class="mb-0">Payments</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div style="display: flex;flex-direction: row;">
                <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
                  <mat-label>Filter {{filter.name}}</mat-label>
                  <select *ngIf="filter.select" matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
                          (change)="filterChange(filter,$event)">
                    <option value=""></option>
                    <option [value]="item" *ngFor="let item of filter.options">&nbsp;&nbsp;&nbsp;  {{item}}  </option>
                  </select>
                  <input *ngIf="!filter.select" matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue" (ngModelChange)="filterChange(filter,$event)">
                </mat-form-field>
                &nbsp;
  
                <button class="btn btn-sm btn-warning" style="font-size: large" (click)="resetFilters()">Reset</button>
                <button class="btn btn-sm btn-info" style="font-size: large" (click)="add()">Add</button>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-flush" *ngIf="payments; let item" mat-table matSort [dataSource]="dataSource" style="width: 99% !important;">
                  <!-- Position Column -->
                  <ng-container matColumnDef="num">
                    <mat-header-cell  *matHeaderCellDef  style="max-width: 50px !important;"> # </mat-header-cell>
                    <mat-cell class="celldesign" *matCellDef="let element; let i = index"  style="max-width: 50px !important;">
                      {{ i + 1 }}
                    </mat-cell>
                  </ng-container>
  
  
                  <ng-container matColumnDef="fullName">
                    <mat-header-cell  *matHeaderCellDef mat-sort-header> Customer Name </mat-header-cell>
                    <mat-cell  *matCellDef="let element">
                      <div class="media align-items-center">
                              <span class="avatar avatar-sm rounded-circle">
                                <img alt="Image placeholder" *ngIf="element.image === ''" src="assets/img/theme/team-4-800x800.jpg">
  <!--                              <img alt="Image placeholder" *ngIf="element.image !== ''" [src]=element.image>-->
                              </span>
                        <div class="media-body ml-2 d-none d-lg-block pr-2">
                          <span class="mb-0 text-sm  font-weight-bold">{{element.firstName}} {{element.lastName}}</span>
                        </div>
                      </div>
                    </mat-cell>
                  </ng-container>
  
                  <ng-container matColumnDef="email">
                    <mat-header-cell  *matHeaderCellDef mat-sort-header>  Email </mat-header-cell>
                    <mat-cell  *matCellDef="let element"> {{element.email}} </mat-cell>
                  </ng-container>
  
                  <ng-container matColumnDef="mobile">
                    <mat-header-cell  *matHeaderCellDef mat-sort-header> Mobile </mat-header-cell>
                    <mat-cell  *matCellDef="let element"> {{element.contactNumber}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="disable">
                    <mat-header-cell  *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                    <mat-cell  *matCellDef="let element">
                      <button mat-raised-button class="btn btn-primary mr-2"  (click)="update(element.id)">Update</button>
                      <button mat-raised-button class="btn btn-danger mr-2"  (click)="delete(element.id)">Delete</button>
                    </mat-cell>
                  </ng-container>
  
                  <!--                  <ng-container matColumnDef="date">-->
                  <!--                    <mat-header-cell  *matHeaderCellDef> Transaction Date </mat-header-cell>-->
                  <!--                    <mat-cell  *matCellDef="let element"> {{element.createdAt}} </mat-cell>-->
                  <!--                  </ng-container>-->
  
  
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" style="cursor: pointer"
                  >
                  </mat-row>
                </table>
                <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]"></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div  style="display: none">
    <div #myAlert>
      <app-view-ad [id]="postId"></app-view-ad>
    </div>
  </div> -->
  
  