.card-title{
    text-align: left;
    text-decoration: underline;
    font-size: 25px;
    font-weight: bold;
}

.submit{
    background-color: rgb(45, 89, 246);
    color: white;
    float: right;
    border-radius: 6px;
    padding: 0 0 0 0;
    margin-left: 4px;
}

.reset{
    background-color: rgb(248, 167, 6);
    color: white;
    float: right;
    border-radius: 6px;
    padding: 0 0 0 0;
}
