<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Review</h4>
                    </div>
                    <div class="card-body">
<!--                        <form *ngIf="!isLoading">-->
                          <div class="row" style="margin-top: 20px;">
                            <div class="col-md-8">
                                <mat-form-field class="example-full-width">
                                      <textarea matInput placeholder="Comment" type="text" [(ngModel)]="review.comment" id="comment" ></textarea>
                                </mat-form-field>
                            </div>
                          </div>
                          <div class="row" style="margin-top: 20px;">
                            <div class="col-md-4">
<!--                              <mat-form-field class="example-full-width">-->
                                  <ngx-material-rating color="warn"  [(ngModel)]="review.rate" max=5  id="rate">
                                  </ngx-material-rating>
<!--                              </mat-form-field>-->
                            </div>
                          </div>
                          <div class="bottom">
                            <button mat-raised-button type="submit" (click)="submit()" class="submit">Submit</button>
                            <button mat-raised-button type="reset" class="reset">Reset</button>
                            <div class="clearfix"></div>
                          </div>
<!--                        </form>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

