<div class="main-content" style="background-color: darkgray;">
    <div class="container-fluid">
        <div style="display: flex; justify-content: center; align-items: center; min-height: 100vh">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <span>Have an account?</span>
                        <header style="text-align: center; font-weight: bold; font-size: larger;">Login</header>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="submit()" [formGroup]="loginForm" *ngIf="isLoading">
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <mat-lable>Username:</mat-lable>
                                    <input matInput  placeholder="" type="text" [(ngModel)]="login.username" id="username" formControlName="username">
                                  </mat-form-field>
                                  <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="error-validation">
                                    <div *ngIf="username?.errors?.['required']">
                                        Username is required.
                                    </div>                           
                                  </div>
                                </div>
                            </div>
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <mat-lable>Password:</mat-lable>
                                    <input matInput placeholder="" type="password" [(ngModel)]="login.password" id="password" formControlName="password">
                                  </mat-form-field>
                                  <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-validation">
                                    <div *ngIf="password?.errors?.['required']">
                                        Password is required.
                                    </div>                           
                                  </div>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" style="background-color: rgb(33, 102, 230);">Login</button>
                            <button mat-raised-button type="reset" class="btn btn-danger" style="background-color: rgb(33, 102, 230);">Reset</button>
                            <div class="clearfix"></div>
                            <div class="pull-bottom">
                                <div class="pull-left">
                                    <input type="checkbox" id="check">
                                    <label for="check"> Remember me</label>
                                </div>
                                <div class="pull-right">
                                    <label><a href="#" style="color: blue;">Frogot password?</a></label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>