<div class="background">
    <div class="box">
        <div class="container">
            <div class="top-header">
                <span>Have an account?</span>
                <header>Login</header>
            </div>
            <form (ngSubmit)="submit()" [formGroup]="loginForm" *ngIf="isLoading">
                <div class="input-field">
                    <input placeholder="Username" type="text" class="input" [(ngModel)]="login.username" id="username" formControlName="username">
                    <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="error-validation">
                        <div *ngIf="username?.errors?.['required']">
                            Username is required.
                        </div>                           
                    </div>
                </div>
                <div class="input-field">
                    <input placeholder="Password" type="password" class="input" [(ngModel)]="login.password" id="password" formControlName="password">
                    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-validation">
                        <div *ngIf="password?.errors?.['required']">
                            Password is required.
                        </div>                           
                    </div>
                </div>
                <div class="input-field">
                    <input type="submit" class="submit" value="Login">
                </div>
                <div class="input-field">
                    <input type="reset" class="reset" value="Reset">
                </div>
                <div class="bottom">
                    <div class="left">
                    <input type="checkbox"  id="check" class="checkbox">
                        <label for="check"> Remember me</label>
                    </div>
                    <div class="right">
                        <label><a href="#">Forgot password?</a></label>
                    </div>    
                </div>
            </form>
        </div>
    </div>
</div>

