<div class="background">
  <div class="box">
    <div class="container">
      <div class="top-header">
        <header>Register Here</header>
      </div>
      <form (ngSubmit)="submit()" [formGroup]="registerForm" *ngIf="isLoading">
        <div class="input-field">
          <input placeholder="Username" type="text" class="input" [(ngModel)]="register.username" id="username" formControlName="username">
          <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="error-validation">
            <div *ngIf="username?.errors?.['required']">
              Username is required.
            </div>                           
          </div>
        </div>
        <div class="input-field">
          <input placeholder="Email Address" type="email" class="input" [(ngModel)]="register.emailAddress" id="emailAddress" formControlName="emailAddress">
          <div *ngIf="emailAddress?.invalid && (emailAddress?.dirty || emailAddress?.touched)" class="error-validation">
            <div *ngIf="emailAddress?.errors?.['required']">
              Email Address is required.
            </div>
            <div *ngIf="emailAddress?.errors?.['email']">
              Email Address is not valid.
            </div>
          </div>
        </div>
        <div class="input-field">
          <input placeholder="Password" type="password" class="input" [(ngModel)]="register.password" id="password" formControlName="password">
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-validation">
            <div *ngIf="password?.errors?.['required']">
              Password is required.
            </div>                           
          </div>
        </div>
        <div class="input-field">
          <input placeholder="Password Again" type="password" class="input" [(ngModel)]="register.passwordAgain" id="passwordAgain" formControlName="passwordAgain">
          <div *ngIf="passwordAgain?.invalid && (passwordAgain?.dirty || passwordAgain?.touched)" class="error-validation">
            <div *ngIf="passwordAgain?.errors?.['required']">
              Password doesn't match.
            </div>                           
          </div>
        </div>
        <div class="input-field">
          <input type="submit" class="submit" value="Register">
        </div>       
        <div class="input-field">
          <input type="reset" class="reset" value="Reset">
        </div>
        <div class="bottom">
          <div class="left">
            <input type="checkbox"  id="check" class="checkbox">
            <label for="check"> Remember me</label>
          </div>  
        </div>
      </form>
    </div>
  </div>
</div>

