<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">My Profile</h4>
                      <button mat-raised-button (click)="updatePassword()" class="btn btn-danger pull-left">Change Password</button>
                  </div>
                  <div class="card-body">
                      <form (ngSubmit)="submit()" [formGroup]="profileForm" *ngIf="!isLoading">
                        <div class="row">
                          <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                              <input matInput  placeholder="First Name" type="text" [(ngModel)]="profile.firstName" id="firstName" formControlName="firstName">
                            </mat-form-field>
                            <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="error-validation">
                              <div *ngIf="firstName?.errors?.['required']">
                                  First name is required.
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Last Name" type="text" [(ngModel)]="profile.lastName" id="lastName" formControlName="lastName">
                            </mat-form-field>
                            <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="error-validation">
                              <div *ngIf="lastName?.errors?.['required']">
                                  Last name is required.
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="NIC Number" type="text" [disabled]="edit" [(ngModel)]="profile.nic" id="nic" formControlName="nic">
                            </mat-form-field>
                            <div *ngIf="nicNumber?.invalid && (nicNumber?.dirty || nicNumber?.touched)" class="error-validation">
                              <div *ngIf="nicNumber?.errors?.['required']">
                                  NIC number is required.
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div style="display: flex;flex-direction: column;">
                              <mat-label>Gender</mat-label>
                                  <mat-radio-group [(ngModel)]="profile.gender" aria-label="Gender" formControlName="gender">
                                      <mat-radio-button value="male" style="padding-right: 10px">Male</mat-radio-button>
                                      <mat-radio-button value="female">Female</mat-radio-button>
                                  </mat-radio-group>
                            </div>
                            <div *ngIf="gender?.invalid && (gender?.dirty || gender?.touched)" class="error-validation">
                              <div *ngIf="gender?.errors?.['required']">
                                  Gender is required.
                              </div>
                          </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Age" type="number" [(ngModel)]="profile.age" id="age" formControlName="age">
                            </mat-form-field>
                            <div *ngIf="age?.invalid && (age?.dirty || age?.touched)" class="error-validation">
                                <div *ngIf="age?.errors?.['required']">
                                    Age is required.
                                </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                          <mat-form-field class="example-full-width">
                              <input matInput placeholder="Adress" type="text" [(ngModel)]="profile.address" id="address" formControlName="address">
                          </mat-form-field>
                          <div *ngIf="address?.invalid && (address?.dirty || address?.touched)" class="error-validation">
                              <div *ngIf="address?.errors?.['required']">
                                  Address is required.
                              </div>
                          </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput #message maxlength="10" placeholder="Contact Number" type="tel" [(ngModel)]="profile.contactNumber" id="contactNumber" formControlName="contactNumber">
                              <mat-hint align="end">{{message.value.length}} / 10</mat-hint>
                            </mat-form-field>
                            <div *ngIf="contactNumber?.invalid && (contactNumber?.dirty || contactNumber?.touched)" class="error-validation">
                              <div *ngIf="contactNumber?.errors?.['required']">
                                  Contact Number is required.
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Email Address" type="email" [(ngModel)]="profile.email" id="email" formControlName="email">
                            </mat-form-field>
                            <div *ngIf="emailAddress?.invalid && (emailAddress?.dirty || emailAddress?.touched)" class="error-validation">
                              <div *ngIf="emailAddress?.errors?.['required']">
                                  Email Address is required.
                              </div>
                              <div *ngIf="emailAddress?.errors?.['email']">
                                Email Address is not valid.
                              </div>
                          </div>
                          </div>
                        </div>
                        <div class="bottom">
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                        </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div style="display: none;">
  <div #modal style="position: relative">
      <form  style="width: 100%;height: 200px;">
          <div class="row" style="margin-top: 20px;position: relative">
              <div class="col-md-11" style="position: relative">
                   <mat-form-field class="example-full-width">
                      <input matInput placeholder="Password" type="text" [(ngModel)]="password.password" id="password">
                   </mat-form-field>
              </div>
          </div>
          <div class="row" style="margin-top: 20px;">
              <div class="col-md-11">
                  <mat-form-field class="example-full-width">
                      <input matInput placeholder="Re-Password" type="text" [(ngModel)]="password.rePassword" id="rePassword">
                  </mat-form-field>

              </div>
          </div>
      </form>
  </div>
</div>