<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header">
                      <h4 class="card-title">Service Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                        <form (ngSubmit)="submit()" [formGroup]="serviceForm" *ngIf="!isLoading">
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput  placeholder="Service Name" type="text" [(ngModel)]="service.name" id="name" formControlName="name">
                                  </mat-form-field>
                                  <div *ngIf="serviceName?.invalid && (serviceName?.dirty || serviceName?.touched)" class="error-validation">
                                    <div *ngIf="serviceName?.errors?.['required']">
                                        Srevice name is required.
                                    </div>                           
                                  </div>
                                </div>
                            </div>    
                            <!-- <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field>
                                    <mat-label>Category</mat-label>
                                    <mat-select [(ngModel)]="service.category" aria-label="Category" formControlName="category">
                                      <mat-option *ngFor="let service of services" [value]="service.value" id="service.id">
                                        {{service.value}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                  <div *ngIf="category?.invalid && (category?.dirty || category?.touched)" class="error-validation">
                                    <div *ngIf="category?.errors?.['required']">
                                        Category is required.
                                    </div>                           
                                  </div>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field>
                                    <input matInput placeholder="Price" type="number"  class="example-right-align" [(ngModel)]="service.price" id="price" formControlName="price">
                                    <span matSuffix>.00</span>
                                    <span matSuffix> Rs&nbsp;</span>
                                  </mat-form-field>
                                  <div *ngIf="price?.invalid && (price?.dirty || price?.touched)" class="error-validation">
                                    <div *ngIf="price?.errors?.['required']">
                                        Price is required.
                                    </div>                           
                                  </div>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Duration" type="text" class="example-right-align"  [(ngModel)]="service.duration" id="duration" formControlName="duration">
                                      <span matSuffix>min &nbsp;</span>
                                    </mat-form-field>
                                    <div *ngIf="duration?.invalid && (duration?.dirty || duration?.touched)" class="error-validation">
                                        <div *ngIf="duration?.errors?.['required']">
                                            Duration is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Description</mat-label>
                                    <textarea matInput placeholder="" type="text" [(ngModel)]="service.description" id="description" formControlName="description"></textarea>
                                </mat-form-field>
                                <!-- <div *ngIf="description?.invalid && (description?.dirty || description?.touched)" class="error-validation">
                                    <div *ngIf="description?.errors?.['required']">
                                        Description is required.
                                    </div>
                                </div> -->
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Employee Name" type="text" [(ngmodel)]="service.employeeName" id="employeeName" formControlName="employeeName">
                                </mat-form-field>
                              </div>
                            </div>


                            
                              <!-- <div>
                                <mat-label>Category</mat-label>
                                <select formControlName="category">
                                  <option selected></option>
                                  <option *ngFor="let category of list" [ngvalue]="category.id">{{category.label}}</option>
                                </select>
                              </div> -->

                              <!-- <div>
                                <mat-label>Service Name</mat-label>
                                <select formControlName="name">
                                  <option selected></option>
                                  <option *ngFor="let name of selectedNamesList" [ngvalue]="name.id">{{name.label}}</option>
                                </select>
                              </div> -->

                            <div class="bottom">
                              <button mat-raised-button type="submit" class="submit">Submit</button>
                              <button mat-raised-button type="reset" class="reset">Reset</button>
                              <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>