// .card{
//     margin-top: -40px;
// }

// .card-title{
//     text-align: left;
//     text-decoration: underline;
//     font-size: 25px;
//     font-weight: bold;
// }


mat-card{
    margin: 1%;
    text-align: left;
    margin-top: 50px;
}

.mat-50{
    width: 48%;
    margin: 1%;
}